<footer>
    <div class="footer text-center">
      <div class="container">
          <div class="row">
              <div class="col-lg-10 col-lg-offset-1 centered">
                  &copy; Copyright {{@blog.title}} &bull; Powered by Ghost &bull; Themed by Ghost-Flat
	      </div>
          </div>
      </div>
  </div>
</footer>
